@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#logo {
  font-family: 'Press Start 2P', cursive;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

#logo:hover {
  color: rgba(0, 210, 211, 1);
}

body {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Chakra Petch', sans-serif;
}

body {
  margin: 0em;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* background-color: rgba(165, 225, 225, 1); */
  /* background-image: url(../img/lightblue3.png); */
  background-repeat: no-repeat;
}

p {
  margin-top: 0em;
  margin-bottom: 0em;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

input[type="text"] {
  border: none;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-bottom: 2px solid rgba(0, 210, 211, 1);
  padding: 0.5em;
  font-size: 0.8em;
  /* width: 100%; */
  color: rgba(0, 0, 0, 1);
}

input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#keywordSearch:focus {
  outline: none;
}