h2 {
  margin: 0em;
}

.sideBar {
  width: 36%;
  padding: 1em;
  /* height: 100%; */
  float: left;
  background-color: rgba(14, 14, 44, 1);
  position: relative;
  min-height: 100vh;
  height: auto;
}

.content {
  width: 60%;
  float: right;
}

.logo {
  /* height: 10vh; */
  margin-top: 2em;
  margin-bottom: 3em;
  color: rgba(255, 255, 255, 1);
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: space-between; */
}

.navElement a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin-right: 1em;
  font-size: 0.85em;
}